* {
  box-sizing: border-box;
}

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --primary-color: #00bcd4;
  --accent-color: #f50057;

  --text-color: #263238;
  --body-color: #e6fde0;
  --main-font: 'roboto';
  --font-bold: 700;
  --font-regular: 400;
}

body {
  color: #212121;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--body-color);
  font-family: var(--main-font), Arial;
  font-weight: var(--font-regular);
  margin-top: 0;
}

input,
button {
  border: none;
  background: none;
  outline: 0;
}
button {
  cursor: pointer;
}

.gallery {
  display: grid;
  max-width: 1380px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  row-gap: 59px;
  column-gap: 12px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  margin-top: 70px;
}

.photo-card {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}
.info {
  display: flex;
}

.info-item {
  text-align: center;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.load-more {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: blue;
  transition: 0.3s;
}

.load-more:hover {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;
}

.hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Search Form */

.SearchBox-input::placeholder {
  /* No es un seudoelemento estandar */
  color: white;
  opacity: 0.6;
}
/* Chrome, Opera ySafari */
.SearchBox-input::-webkit-input-placeholder {
  color: white;
}
/* Firefox 19+ */
.SearchBox-input::-moz-placeholder {
  color: white;
}
/* IE 10+ y Edge */
.SearchBox-input:-ms-input-placeholder {
  color: white;
}
/* Firefox 18- */
#formGroupExampleInput:-moz-placeholder {
  color: white;
}

.SearchBox {
  --height: 3.5em;
  display: flex;

  border-radius: var(--height);
  background-color: var(--primary-color);
  height: var(--height);
  align-items: center;
}
.SearchBox:hover .SearchBox-input {
  padding-left: 2em;
  padding-right: 1em;
  width: 240px;
}
.SearchBox-input {
  width: 470px;
  font-size: 1.2em;
  color: #fff;
  transition: 0.45s;
}
.SearchBox-button {
  display: flex;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  background-color: var(--accent-color);
  transition: 0.3s;
}
.SearchBox-button:active {
  transform: scale(0.85);
}
.SearchBox-icon {
  margin: auto;
  color: #fff;
}

@media screen and (min-width: 400px) {
  .SearchBox:hover .SearchBox-input {
    width: 500px;
  }
}
.search-wrap {
  width: 100%;
  height: 67px;
  background-color: #0000007a;
  position: fixed;
  z-index: 1;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
